<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lurkapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Lurk 0.1</name>
    <description>
        LURK | Obra de Diego Sagastume para la XIX BAP
    </description>
    <author email="dsagastume@gmail.com" href="http://dsagastume.info">
        Diego Sagastume
    </author>

    <preference name="phonegap-version" value="3.3.0" />

    <preference name="orientation" value="portrait" />
    <preference name="prerendered-icon" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="keepRunning" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <preference name="AndroidPersistentFileLocation" value="Internal" />
    
<feature name="Media">
    <param name="android-package" value="org.apache.cordova.media.AudioHandler" />
</feature>

    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.media" version="0.2.9" />
	
	<!-- These values are ignored by local phonegap builds -->	
    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/xhdpi.png" />

    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />

    <access origin="*" />
</widget>
