<?xml version='1.0' encoding='utf-8'?>
<widget id="com.lurkapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Lurk 0.1</name>
    <description>
        LURK | Obra de Diego Sagastume para la XIX BAP
    </description>
    <author email="dsagastume@gmail.com" href="http://dsagastume.info">
        Diego Sagastume
    </author>

    <preference name="phonegap-version" value="2.9.0" />

    <preference name="orientation" value="portrait" />
    <preference name="prerendered-icon" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="keepRunning" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="DisallowOverscroll" value="true" />

    <preference name="AndroidPersistentFileLocation" value="Internal" />
    
    <gap:platform name="android" />
	
	<!-- These values are ignored by local phonegap builds -->	
    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icon/android/ldpi.png" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icon/android/mdpi.png" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/hdpi.png" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icon/android/xhdpi.png" />

    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173.png" />

    <gap:splash gap:density="ldpi" gap:platform="android" src="res/screen/android/screen-ldpi-portrait.png" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/screen/android/screen-mdpi-portrait.png" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/screen-hdpi-portrait.png" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/screen/android/screen-xhdpi-portrait.png" />

    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/screen-portrait.jpg" />

    <access origin="*" />
</widget>
